body{
     background-image: url(../img/pokemon-img.png);
     background-repeat: repeat;
     background-size: 400px;
     font-family: 'Indie Flower', cursive;
     font-weight: 400;
     font-size: 16px;
}
/* navbar*/
 nav {
     border-bottom: 3px solid black;
}
 h1 {
     font-weight: bold;
     font-size: 32px;
     color: red;
}
/*stayl the button*/
 .button1 {
     position: relative;
     display: inline-block;
     border-radius: 3% ;
     background-color: #FFE4B5;
     font-size: 26px;
     width: 100%;
     text-align: center;
     padding: 5px;
     margin: -4px;
}
 #pokemon-list li {
     position: relative;
     left: 25%;
     width: 50%;
     list-style-type: none;
     margin-top: 15px;
}
 .button1:focus{
     color: red;
}
 .button1:hover{
     color: #FF6347;
     font-size: 28px;
     box-shadow: 2px 1px black;
}
 .button1:active{
     color: black;
}
 .background-img{
     text-align:center;
     font-size: 30px;
}
/* Modal_Style */
/*content to the modal*/
 #modal-container {
     top: 0;
     left: 0;
     width: 15%;
     height: 10%;
     background: rgba(0,0,0,0.5);
     z-index: 999;
     display: none;
}
/*hide Modal*/
 #modal-container {
     display: none;
}
/*visible Modal*/
 #modal-container.is-visible {
     display: block;
}
 