
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px ;
}
body{
    /*min-height: 100vh;*/
    background-image: url(../img/pokemon-img.png);
    background-repeat: repeat;
    background-size: 100px;
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
    font-size: 16px;
    margin: 100%;
    position: relative;

}
h1 {
    font-weight: bold;
    font-size: 32px;
    color: red;

}
/*stayl the button*/
.button1{
    width: 95%;
    border-radius: 3% ;
    margin: 5px 10px 1px 10px;
    background-color: #FFE4B5;
    position: relative;
    font-size: 26px;

}
.pokemon-list {
    position: relative;
    left: 30%;
    align-items: center;
    width: 40%;
    border: 3px solid black;
    margin-bottom: 5px;
}
.pokemon-list li {

    width: auto;
    list-style-type: none;
    position: relative;

}
.button1:focus{
    color: red;
}
.button1:hover{
    color:  #FF6347;
    font-size: 28px;
    box-shadow: 2px 1px black;

}
.button1:active{
    color: black;
}
.background-img{
    width: 50%;
    text-align:center;

    font-size: 30px;
}

/* Modal_Style */
/*content to the modal*/
#modal-container {
      top: 0;
      left: 0;
      width: 15%;
      height: 10%;
      background: rgba(0,0,0,0.5);
      z-index: 999;
      display: none;
}
/*hide Modal*/
#modal-container {
display: none;
}
/*visible Modal*/
#modal-container.is-visible {
display: block;
}

.modal{
    position:fixed;
    left: 25%;
    top: 130px;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 50%;
    text-align: center;
    border: 3px solid black;

}
/* close Button */
.modal-close{
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: lightgray;
    color: red;
    border: 3px solid black;
    font-size: 32px
}
/*the title, Modal */
.modal h4{
    margin-top: 0;
    font-size: 24px;
}
/*the text, pokemon name in the Modal*/
.modal h5{
    margin-bottom: 0;
    font-size: 20px;
}
/*the types pokemon in the Modal*/
.modal h3{
  margin-bottom: 2px;
  font-size: 20px;
}
/*the weight pokemon in the Modal*/
.modal h2 {
  margin-bottom: 2px;
  font-size: 20px;

}
